# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# VS Code
.vscode/

# Operating System
.DS_Store
Thumbs.db